.navBar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    flex-direction: row;
    background: #FFF;
    box-shadow: 0px 5px 80px 0px rgba(0, 0, 0, 0.10);
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 10;
}

.navTitle {
    margin-right:auto;
    font-family: 'Oswald', sans-serif;
    color: #484848;
    line-height: 0px;
    margin-left: 85px;
    font-size: 22px;
}
.user{
    margin-left: auto;
    margin-right: 85px;
    font-size: 22px;
}

@media (max-width: 504px) {
    .navTitle{
        margin-left: 16px;
    }
    .navContact{
        margin-right: 16px;
    }
}