.answerCard{
    height: 250px;
    width: 300px;
    background-color: #f5ff69;
    margin: 8px;
    border-bottom: 0.2rem solid #ffe72d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 504px) {
  
}